@import url(../fonts/cursed_timer_ulil/stylesheet.css);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #881337;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.inner-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 70px;
}
.home-side,.guest-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-side{
    margin-right: 40px;
}
.title{
    text-transform: uppercase;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
    color:#fff;
    margin-bottom: 20px;
}
.score{
    text-transform: uppercase;
    font-size: 120px;
    line-height: 126px;
    font-family: "Cursed Timer ULiL";
    margin-top: 40px;
    margin-bottom: 26px;
    color:#fff;
    background: #080001;
    padding:20px 80px;
    border-radius: 10px;
    width: 380px;
    text-align: center;
}
button{
    font-family: "Cursed Timer ULiL";
    font-size: 30px;
    line-height: 27px;
    padding:10px 10px;
    border:2px solid #fff;
    background: transparent;
    color:#fff;
    cursor:pointer;
    border-radius: 4px;
}
.buttons button:not(:last-child){
    margin-right: 10px;
}
button:hover{
    transition: .4s;
    background: #fff;
    color:#881337;
}
#winner-guest,#winner-home{
    text-transform: uppercase;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
    color:#881337;
    margin-bottom: 20px;
    user-select: none;
}
@media screen and (max-width:840px){
    .guest-title,.home-title{
        font-size: 50px;
    }
    .score{
        font-size: 80px;
        max-width: 250px;
        padding: 20px 0px;
        line-height: 80px;
    }
    #winner-guest,#winner-home{
        font-size: 25px;
    }
    .inner-wrapper{
        padding: 0px 15px;
    }
}
@media screen and (max-width: 575px) {
    .score{
        max-width: 200px;
    }
    button{
        font-size: 20px;
        line-height: 17px;
    }
}
@media screen and (max-width: 470px){
    .guest-title,.home-title{
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 0px;
    }
    .score{
        font-size: 50px;
        max-width: 150px;
        padding: 5px 0px;
    }
    #winner-guest,#winner-home{
        font-size: 18px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .buttons button:not(:last-child){
        margin-right: 0px;
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 375px){
    .guest-title,.home-title{
        font-size: 25px;
        line-height: 30px;
    }
    .score{
        font-size: 30px;
        max-width: 100px;
    }
    #winner-guest,#winner-home{
        font-size: 16px;
    }
}
